<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Listings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/property_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block content %}
     
        {% if property_list %}
        <div class="property-grid">
            {% for property in property_list %}
            <div class="property-item">
                {% if property.image_url %}
                <img src="{{ property.image_url }}" alt="{{ property.title }}" class="property-image">
                {% endif %}
                <div class="property-details">
                    <p class="property-title"><strong>{{ property.title }}</strong></p>
                    <p class="property-address">{{ property.address }}</p>
                    {% if property.type != 'Both' %}
                    <p class="property-type">{{ property.type }}</p>
                    {% endif %}
                    <p class="property-contact">{{ property.contact_1 }}</p>
                    <p class="property-contact">{{ property.contact_2 }}</p>
                    {% if property.rent_per_month %}
                    <p class="property-rent">Rent {{ property.rent_per_month }} per/m</p>
                    {% endif %}
                    <div class="property-actions">
                      
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>There are no properties in the database.</p>
        {% endif %}
        <a href="{% url 'listings:create' %}" class="add-accommodation fixed-bottom">Add an Accommodation</a>
    </div>
    <script src={% static "js/navbar.js" %}></script>
    {% endblock %}
</body>
</html>
