<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Listings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'listings/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
   
   {% include 'navbar.html' %}
   
    <div class="container">
        {% block content %}
        {% if property_list %}
        <div class="property-grid">
          {% for property in property_list %}
            <div class="property-item">
                <p><strong>{{ property.title }}</strong></p>
                <p>{{ property.address }}</p>

                {% if property.type != 'Both' %}
                	<p>{{ property.type }}</p>  
                {% endif %}

                <p>{{ property.contact_1 }}</p>

                <p>{{ property.contact_2 }}</p>
                 
                {% if property.rent_per_month %}
                    <p>Rent  {{ property.rent_per_month }}  per/m</p>
                {% endif %}

                <div class="property-actions">   
                   
                       (<a href="{% url 'listings:update' property.id %}">Edit</a> |
                       <a href="{% url 'listings:delete' property.id %}">Delete</a>) 
                </div>
            </div>
          {% endfor %}
        </div>
        {% else %}
          <p>There are no rooms in your name.</p>
        {% endif %}
        <a href="{% url 'listings:create' %}" class="add-accommodation">Add an Accommodation</a>
        </div>
    </body>
   
    <script src={% static "js/navbar.js" %} ></script>    

{% endblock %}
